{% extends "layout.html" %}
{% block body %}
<title>Flaskr</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script>
    $(document).ready(function(){
      $(".comment-area-toggle").click(function(){
        $(this).parent().next('.comment-area').slideToggle();
      });
    });
  </script> 

<div class="container-fluid">
  <ul class="entries">
  {% for entry in entries %}
    {% if entry.id == entry_id %}
      <li><h2><a style="color: rgb(20, 20, 20); font-family: monospace; font-size: 1.4em" href='/post/{{ entry.id }}'>{{entry.title}}</a></h2><p style="color: rgb(90, 90, 90)"> Published On: {{entry.time|safe }}</p></li>
      <li style="color: rgb(50,50,50);">{{ entry.text|safe }}</li>
        
      <div style="margin-left: 1em !important;"><b>Likes: {{ entry.likes }}</b>
        <a href='/likes/{{entry.id}}/{{entry.likes}}'><span class="glyphicon glyphicon-thumbs-up"></span></a>
        <a href='/dislikes/{{entry.id}}/{{entry.likes}}'><span class="glyphicon glyphicon-thumbs-down"></span></a>
        <b>&nbsp│ </b>
        <a style="color: rgb(50,50,50);" class="comment-area-toggle" style="cursor: pointer">Comments:</a>
      </div>

      <div class="comment-area">
      <form class="comment-box" action="{{ url_for('add_comment')}}" method="post">
        <dl>
          <li>
            <dd><textarea style="width: 80%; vertical-align: bottom;" name="commenttext" placeholder="Add a comment..." rows="1" cols="40"></textarea>
            <button id="comment" class="btn-comment" type="submit">Comment</button>
          </li>
          <dd><input type="hidden" name="commentid" value = {{entry.id}}>
        </dl>
      </form>
        {% for comment in commentonentries %}
          {% if entry.id == comment.comment_id %}
            <li style="color: rgb(70, 70, 70)">{{ comment.commenttext|safe }}</li>
          {% endif %}
        {% endfor %}        
      </div>
    {% endif %}    
  {% endfor %}
  </ul>
</div>
{% endblock %}